venv/
__pycache__/
*.log
logs/
debug.log
.env
*.env
config.json
*.pyc
*.pyo
*.pyd
build/
dist/
pip-wheel-metadata/
pg_data/
docker-compose.override.yaml
.tmp
dataset/Dataset.npy
src/data/README.md
src/st_transformer/README.md
src/trainer/README.md